{{ header }}
<style>
    #resurs-checkout-container {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ddd;
        min-height: 400px;
    }
</style>
<script type="text/javascript">
    var RESURSCHECKOUT_IFRAME_URL = "{{ rco_jsUrl }}";
    var REFERENCE = "{{ reference }}";
    var AJAX_CREATE_ORDER_URL = "{{ ajax_createOrderUrl }}";
    var AJAX_FAIL_ORDER_URL = "{{ ajax_failOrderUrl }}";
    var PAYMENT_SESSION_ID = "{{ ajax_paymentSessionId }}";
    var BASE_URL = "{{ ajax_baseUrl }}";
</script>

<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="<?php echo $breadcrumb['href']; ?>">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>

    <div class="row">
        <div class="col-xs-12">
            <h2>{{ confirm_order }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-left">{{ column_name }}</td>
                            <td class="text-left">{{ column_model }}</td>
                            <td class="text-center">{{ column_quantity }}</td>
                            <td class="text-right">{{ column_price }}</td>
                            <td class="text-right">{{ column_total }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="text-left">
                                    <a href="{{ product.href }}">{{ product.name }}</a>
                                    {% if product.option is defined %}
                                        {% for option in product.option %}
                                            <br />
                                            <small>{{ option.name }}: {{ option.value }}</small>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td class="text-left">{{ product.model }}</td>
                                <td class="text-center">{{ product.quantity }}</td>
                                <td class="text-right">{{ product.price }}</td>
                                <td class="text-right">{{ product.total }}</td>
                            </tr>
                        {% endfor %}

                        {% for voucher in vouchers %}
                            <tr>
                                <td class="text-left">{{ voucher.description }}</td>
                                <td class="text-left"></td>
                                <td class="text-left"></td>
                                <td class="text-right">{{ voucher.amount }}</td>
                                <td class="text-right">{{ voucher.amount }}</td>
                            </tr>
                        {% endfor %}

                        {% for total in totals.totals %}
                            <tr>
                                <td colspan="4" class="text-right">{{ total.title }}</td>
                                <td class="text-right">{{ total.text }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a>
            </div>
        </div>
    </div>

    {% if error_flash_msg is defined and error_flash_msg is not empty %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" style="margin: 20px 0 0 0">
                <i class="fa fa-exclamation-circle"></i> {{ error_flash_msg }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div id="resurs-checkout-container">
                {% if rco is iterable %}
                    {{ rco.html }}
                        {% else %}
                    {{ rco }}
                {% endif %}
            </div>
        </div>
    </div>

</div>
{{ footer }}
