{{ header }}
<style>
    .has-error {
        border: 1px solid #f56b6b;
    }
    .tab-error {
        color: #f56b6b !important;
    }
    .rco-account-line {
        background: #f1f1f1;
        border-top: 2px solid #ddd;
    }
    .accounts-info-container {
        background: #fcfcfc;
        box-shadow: inset 1px 5px 7px rgba(0,0,0,0.1);
    }
    .callbacks-action-buttons {
        margin: 0 0 25px 0;
    }
    .tab-disabled {
        pointer-events: none;
    }
    .rc-hide {
        display: none;
    }
</style>
{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="resurs-checkout-form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="container-fluid">
            <div class="alert alert-danger rc-alert-error {{ errors is empty ? 'hidden' : '' }}">
                <h4><i class="fa fa-exclamation-circle"></i> <span class="alert-heading">{{ validation_errors }}</span></h4>
                <ul class="error-list">
					{% if errors.accounts.settings is defined %}
                        {% for settingError in errors.accounts.settings %}
                            <li>{{ settingError }}</li>
                        {% endfor %}
                    {% endif %}
                    
					{% if errors.accounts.accounts is defined %}
						{% for index, err in errors.accounts.accounts %}
							<li>
								Errors for account row {{ index }}
								<ul>
									{% for key, error in err %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					{% endif %}					
                    
                    {% if errors.settings.order_statuses is defined %}
                        {% for error in errors.settings.order_statuses %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="alert alert-success rc-alert-success {{ success is empty ? 'hidden' : '' }}">
                <h4>
                    <i class="fa fa-check" aria-hidden="true"></i> 
                    <span class="alert-heading">{{ succeess.message is not empty ? success.message : '' }}</span>
                </h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" id="resurs-checkout-form" class="form-horizontal">

                        <ul class="nav nav-tabs" id="tabs">
                            <li class="active">
                                <a href="#tab-accounts" class="{{ errors.accounts is defined ? 'tab-error' : '' }}" data-toggle="tab">
								{{ tab_accounts }}</a>
                            </li>
                            <li>
                                <a href="#tab-settings" class="{{ errors.settings is defined ? 'tab-error' : '' }}" data-toggle="tab">
								{{ tab_settings }}</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="tab-accounts">
                                
                                <fieldset>
                                    <legend>{{ accounts_environment }}</legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            <span data-toggle="tooltip" data-container="#tab-accounts" title="Here is some info about environment" data-original-title="">
                                                {{ accounts_environment }}
                                            </span>
                                        </label>
                                        <div class="col-sm-2">
                                            <select name="resurs_checkout_environment" class="form-control {{ errors.accounts.settings.environment is defined ? 'has-error' : '' }}">
                                                <option value="test" {{ input.accounts.settings.environment == 'test' ? 'selected="selected"' : '' }}>
                                                    {{ accounts_env_test }}
                                                </option>
                                                <option value="prod" {{ input.accounts.settings.environment == 'prod' ? 'selected="selected"' : '' }}>
                                                    {{ accounts_env_production }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                
                                <fieldset>
                                    <legend>Accounts</legend>

                                    <table id="rcoAccounts" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td width="40px">#</td>
                                                <td width="10%">Note</td>
                                                <td width="25%" class="required">{{ accounts_username }}</td>
                                                <td width="25%" class="required">{{ accounts_password }}</td>
                                                <td width="20%" class="required">{{ accounts_for_language }}</td>
                                                <td width="15%" class="required">{{ accounts_active }}</td>
                                                <td width="50px" class="text-center"></td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for index, account in input.accounts.accounts %}
                                                <tr class="rco-account-line" data-index="{{ index }}">
                                                    <td class="rco-account-line-index"><strong>{{ index }}</strong></td>
                                                    <td>
                                                        <select
                                                            name="resurs_checkout_accounts[{{ index }}][note]"
                                                            class="form-control"
                                                        >
                                                            <option 
                                                                value="test"
                                                                {{ input.accounts.accounts[index].note == 'test' ? 'selected="selected"' : '' }}
                                                            >Test Credentials @ResursBank</option>
                                                            <option 
                                                                value="live"
                                                                {{ input.accounts.accounts[index].note == 'live' ? 'selected="selected"' : '' }}
                                                            >Live Credentials @ResursBank</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input 
                                                            type="text" name="resurs_checkout_accounts[{{ index }}][username]" placeholder="{{ accounts_username }}" 
                                                            class="form-control {{ errors.accounts.accounts[index].username is defined  or errors.accounts.accounts[index].invalid ? 'has-error' : '' }}" 
                                                            value="{{ input.accounts.accounts[index].username }}"
                                                        />
                                                    </td>
                                                    <td>
                                                        <input 
                                                            type="password" name="resurs_checkout_accounts[{{ index }}][password]" placeholder="{{ accounts_password }}" 
                                                            class="form-control {{ errors.accounts.accounts[index].password is defined or errors.accounts.accounts[index].invalid ? 'has-error' : '' }}" 
                                                            value="{{ input.accounts.accounts[index].password }}"
                                                        />
                                                    </td>
                                                    <td>
                                                        <select 
                                                            name="resurs_checkout_accounts[{{ index }}][for_language]" 
                                                            class="form-control {{ errors.accounts.accounts[index].for_language is defined or errors.accounts.accounts[index].invalid ? 'has-error' : '' }}"
                                                        >
                                                            <option value="">{{ text_choose }}</option>
                                                            {% for language in languages %}
																<option value="{{ language.code }}" {{ language.code == input.accounts.accounts[index].for_language ? 'selected="selected"' : '' }}>
																	{{ language.name }}
																</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select 
                                                            name="resurs_checkout_accounts[{{ index }}][active]"
                                                            class="form-control {{ errors.accounts.accounts[index].active is defined ? 'has-error' : '' }}"
                                                        >
                                                            <option value="1" {{ input.accounts.accounts[index].active ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
                                                            <option value="0" {{ not input.accounts.accounts[index].active ? 'selected="selected"' : '' }}>{{ text_no }}</option>
                                                        </select>
                                                    </td>
                                                    <td class="rco-actions">
                                                        {% if index > 1 %}
                                                        <button type="button" class="btn btn-danger rco-account-line-delete" data-index="{{ index }}">
                                                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                                        </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr class="accounts-info-container" data-index="{{ index }}">
                                                    <td colspan="7">
                                                            
                                                        <ul class="nav nav-tabs" id="accountTabs{{ index }}" style="margin-top: 10px;">
                                                            <li class="active">
                                                                <a href="#tab-callbacks{{ index }}" class="tab-callbacks" data-toggle="tab">{{ accounts_tab_callbacks }}</a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab-part-payment{{ index }}" class="tab-part-payment {{ not input.accounts.accounts[index].valid ? 'tab-disabled' : '' }}" data-toggle="tab">{{ accounts_tab_part_payment }}</a>
                                                            </li>
                                                        </ul>
                                                        
                                                        <div class="tab-content">
                                                            <div class="tab-pane tab-container-callbacks active" id="tab-callbacks{{ index }}">
                                                                <div class="text-center text-info account-save-first-msg {{ input.accounts.accounts[index].valid ? 'rc-hide' : '' }}" style="margin-bottom: 20px;">
                                                                    <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 5px;"></i>
                                                                    {{ msg_save_before_performing_action }}
                                                                </div>
                                                                <div class="callbacks-action-buttons text-center">
                                                                    <button type="button" class="btn btn-lg btn-default list-callbacks" {{ not input.accounts.accounts[index].valid ? 'disabled="disabled"' : '' }}>
                                                                        <i class="fa fa-list" style="margin-right: 5px;" aria-hidden="true"></i> {{ accounts_list_callbacks }}
                                                                    </button>
                                                                    <span style="margin: 0 5px;">|</span>
                                                                    <button type="button" class="btn btn-lg btn-primary update-callbacks" {{ not input.accounts.accounts[index].valid ? 'disabled="disabled"' : '' }}>
                                                                        <i class="fa fa-refresh" style="margin-right: 5px;" aria-hidden="true"></i> {{ accounts_update_callbacks }}
                                                                    </button>
                                                                </div>
                                                                <div class="callbacks-list-container"></div>
                                                            </div>

                                                            <div class="tab-pane tab-container-part-payment" id="tab-part-payment{{ index }}">
                                                                <div class="part-payment-container"></div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <button type="button" id="rcoAddAccount" data-toggle="tooltip" title="{{ text_button_add_account }}" class="btn btn-primary pull-right">
                                                        <i class="fa fa-plus-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </fieldset>
                            </div>
                            
                            <div class="tab-pane" id="tab-settings">
                                <fieldset>
                                    <legend>{{ settings_order_status_heading }}</legend>
                                    {% for rs in resursOrderStatuses %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            <span data-toggle="tooltip" data-container="#tab-settings" title="" data-original-title="{{ "help_order_status_#{rs}" }}">
                                                {{ "settings_order_status_#{rs}" }}
                                            </span>
                                        </label>
                                        <div class="col-sm-10">
                                            <select name="resurs_checkout_settings[order_statuses][{{ rs }}]" class="form-control {{ errors.settings.order_statuses[rs] is defined ? 'has-error' : '' }}">
                                                <option value="">{{ text_choose }}</option>
                                                {% for status in orderStatuses %}
                                                <option value="{{ status.order_status_id }}" {{ status.order_status_id == input.settings.order_statuses[rs] ? 'selected="selected"' : '' }}>
                                                    {{ status.name }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </fieldset>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    var resursCheckout = (function() {

        // Cached data
        var _partPaymentData = {};
        var _partPaymentStoredData = {};
        var _partPaymentTranslations = {}

        
        /**
         * Add a new account row.
         */
        var addAccount = function() {
            
            var accounts = $('#rcoAccounts tbody');
            var accountLines = accounts.find('.rco-account-line');
            var accountLine = accountLines.last();
            var accountLineIndex = accountLine.attr('data-index');
            var accountLineClone = accountLine.clone();
            var accountInfoLineClone = accountLine.next('tr').clone();

            // Find the next index to use
            var nextIndex = 0;
            $.each(accountLines, function(i, line) {
                var line = $(line);
                var accountIndex = parseInt(line.attr('data-index'));
                
                if ( accountIndex >= nextIndex) {
                    nextIndex = accountIndex + 1;
                } 
            })

            // Update the account row
            accountLineClone.attr('data-index', nextIndex);
            accountLineClone.find('.rco-account-line-index').text(nextIndex);

            $.each(accountLineClone.find(':input'), function(i, input) {
                var input = $(input);
                if ( input.is(':button') ) return;

                var newName = input.attr('name').replace(accountLineIndex, nextIndex);
                
                input.attr('name', newName);
                input.val('');
            });

            var accountLineDelete = accountLineClone.find('.rco-account-line-delete');
            if ( !accountLineDelete.length ) {
                var deleteButton = $('<button>', {type: 'button', class: 'btn btn-danger rco-account-line-delete', 'data-index': nextIndex}).html($('<i>', {class: 'fa fa-minus-circle'}));
                var accountLineActions = accountLineClone.find('.rco-actions');
                accountLineActions.append(deleteButton);
            } else {
                accountLineDelete.attr('data-index', nextIndex);
            }

            // Update the account info container
            accountInfoLineClone.attr('data-index', nextIndex);
            accountInfoLineClone.find('.nav').first().attr('id', 'accountTabs' + nextIndex);
            accountInfoLineClone.find('.tab-callbacks').attr('href', '#tab-callbacks' + nextIndex);
            accountInfoLineClone.find('.tab-callbacks').closest('li').addClass('active');
            accountInfoLineClone.find('.tab-part-payment').attr('href', '#tab-part-payment' + nextIndex).addClass('tab-disabled');
            accountInfoLineClone.find('.tab-part-payment').closest('li').removeClass('active');
            accountInfoLineClone.find('.tab-container-callbacks').attr('id', 'tab-callbacks' + nextIndex).addClass('active');
            accountInfoLineClone.find('.tab-container-part-payment').attr('id', 'tab-part-payment' + nextIndex).removeClass('active');
            accountInfoLineClone.find('.list-callbacks').attr('disabled', 'disabled');
            accountInfoLineClone.find('.update-callbacks').attr('disabled', 'disabled');
            accountInfoLineClone.find('.account-save-first-msg').removeClass('rc-hide');
            accountInfoLineClone.find('.callbacks-list-container').empty();
            accountInfoLineClone.find('.part-payment-container').empty();


            // Append the new account line
            accounts.append(accountLineClone);
            accounts.append(accountInfoLineClone);
        } 

        /**
         * Remove an account row.
         */
        var removeAccountByIndex = function(index) {
            var accountLine = $('#rcoAccounts tbody .rco-account-line[data-index="' + index + '"]');

            if ( accountLine ) {
                var accountInfoLine = accountLine.next('tr');

                accountLine.remove();
                accountInfoLine.remove();
            }
        }

        /**
         * List the callbacks for an account row.
         */
        var listCallbacks = function(accountIndex) {
            var listBtn = $('.accounts-info-container[data-index="' + accountIndex + '"] .list-callbacks').first();
            var listBtnIcon = listBtn.find('.fa');
            var listBtnIconClasses = listBtnIcon.attr('class');
            var cbListContainer = listBtn.closest('.accounts-info-container').find('.callbacks-list-container').first();

            $.ajax({
                url: 'index.php?route=extension/payment/resurs_checkout/listCallbacks&{{ token_name }}={{ user_token }}',
                method: 'POST',
                data: {
                    accountIndex: accountIndex
                },
                beforeSend: function() {
                    cbListContainer.empty();
                    listBtn.attr('disabled', true);
                    listBtnIcon.attr('class', 'fa fa-spinner fa-spin');
                },
                success: function(data) {
                    if ( Object.keys(data.callbacks).length > 0 ) {
                        var cbMessage = $('<h3>', {style: 'margin: 10px 0;'}).text(data.message);
                        var cbList = $('<ul>', {class: 'list-unstyled'});

                        $.each(data.callbacks, function(callback, url) {
                            cbList.append(
                                $('<li>', {style: 'margin: 5px 0'}).append(
                                    $('<strong>').text(callback + ' - ')
                                ).append(
                                    $('<span>').text(url)
                                )
                            );
                        });

                        cbListContainer.attr('style', 'margin: 0 0 15px 10px').append(cbMessage, cbList);
                    } else {
                        cbListContainer.addClass('text-center').attr('style', 'margin: 15px 0; font-size: 16px;').text(data.message);
                    }
                    
                    listBtnIconClasses.replace('text-danger', '');
                },
                error: function(error) {
                    listBtnIconClasses += ' text-danger';
                },
                complete: function() {
                    listBtn.attr('disabled', false);
                    listBtnIcon.attr('class', listBtnIconClasses);
                }
            });
        }

        /**
         * Update the callbacks for an account row.
         */
        var updateCallbacks = function() {
            var updateBtn = $(this);
            var updateBtnIcon = updateBtn.find('.fa');
            var updateBtnIconClasses = updateBtnIcon.attr('class');
            var accountIndex = parseInt(updateBtn.closest('.accounts-info-container').attr('data-index'));
            var cbListContainer = updateBtn.closest('.accounts-info-container').find('.callbacks-list-container').first();

            $.ajax({
                url: 'index.php?route=extension/payment/resurs_checkout/updateCallbacks&{{ token_name }}={{ user_token }}',
                method: 'POST',
                data: {
                    accountIndex: accountIndex
                },
                beforeSend: function() {
                    cbListContainer.empty();
                    updateBtn.attr('disabled', true);
                    updateBtnIcon.attr('class', 'fa fa-spinner fa-spin');
                },
                success: function(data) {
                    listCallbacks(accountIndex);
                    updateBtnIconClasses.replace('text-danger', '');
                },
                error: function(error) {
                    updateBtnIconClasses += ' text-danger';
                    cbListContainer.append(
                        $('<div>', {class: 'text-center text-danger'}).text(error.responseJSON.message)
                    );
                },
                complete: function() {
                    updateBtn.attr('disabled', false);
                    updateBtnIcon.attr('class', updateBtnIconClasses);
                }
            });
        }

        /**
         * Display the part payment settings for an account row.
         */
        var showPartPayment = function(accountIndex) {

            var partPaymentContainer = $('.accounts-info-container[data-index="' + accountIndex + '"]').find('.part-payment-container');
            
            if (_partPaymentData[accountIndex]) {
                return;
            }
            
            $.ajax({
                url: 'index.php?route=extension/payment/resurs_checkout/partPayment&{{ token_name }}={{ user_token }}',
                method: 'POST',
                data: {
                    accountIndex: accountIndex
                },
                beforeSend: function() {
                    partPaymentContainer.empty();
                    var spinner = $('<div>', {class: 'text-center part-payment-spinner', style: 'margin: 25px 0'}).append(
                        $('<i>', {class: 'fa fa-4x fa-spinner fa-spin'})
                    );
                    partPaymentContainer.append(spinner);
                },
                success: function(data) {
                    // Cache the part payment data
                    _partPaymentData[accountIndex] = data.data;
                    _partPaymentStoredData[accountIndex] = data.storedData;
                    _partPaymentTranslations = data.translations;
                    
                    partPaymentContainer.empty();
                    _drawPartPaymentHTML(accountIndex);
                    _updatePartPaymentFactor(accountIndex);
                },
                error: function(error) {
                    partPaymentContainer.empty();
                    partPaymentContainer.append(
                        $('<div>', {class: 'text-center text-danger', style: 'margin: 25px 0'}).text(
                            error.responseJSON.message
                        )
                    );
                }
            });
        }

        /**
         * Initailly draw up the part payment HTML.
         */
        var _drawPartPaymentHTML = function(accountIndex) {
            var partPaymentContainer = $('.accounts-info-container[data-index="' + accountIndex + '"]').find('.part-payment-container');
            
            // Build HTML structure
            var controlsContainer = $('<div>').attr('class', 'row');
                    
            var controlActive = $('<div>').attr('class', 'col-sm-6 col-md-2').append(
                $('<label>').attr({class: 'control-label', style: 'margin-bottom: 3px'}).text(_partPaymentTranslations.active),
                $('<select>').attr({
                    class: 'form-control', 
                    name: 'resurs_checkout_accounts[' + accountIndex + '][part_payment][active]'
                }).append(
                    new Option(_partPaymentTranslations.text_yes, '1', _partPaymentStoredData[accountIndex].active, _partPaymentStoredData[accountIndex].active),
                    new Option(_partPaymentTranslations.text_no, '0', !_partPaymentStoredData[accountIndex].active, !_partPaymentStoredData[accountIndex].active)
                )
            );
            var methodOptions = [];
            var durationOptions = [];
            var maxLimit = 0;
            $.each(_partPaymentData[accountIndex], function(index, method) {
                var methodOptionSelected = false;
                if (_partPaymentStoredData[accountIndex].method.length > 0) {
                    if (_partPaymentStoredData[accountIndex].method == method.id) methodOptionSelected = true;
                } else {
                    if (index === 0) methodOptionSelected = true;
                }
                methodOptions.push(new Option(method.description, method.id, methodOptionSelected, methodOptionSelected));

                if (methodOptionSelected) {
                    
                    $.each(method.annuityFactors, function(i, factor) {
                        var durationOptionSelected = false;
                        if (_partPaymentStoredData[accountIndex].duration.length > 0) {
                            if (_partPaymentStoredData[accountIndex].duration == factor.duration) durationOptionSelected = true;
                        } else {
                            if (i === 0) durationOptionSelected = true;
                        }
                        
                        durationOptions.push(new Option(factor.paymentPlanName, factor.duration, durationOptionSelected, durationOptionSelected))
                    });
                    maxLimit = method.maxLimit;
                }
            });
            var controlMethod = $('<div>').attr('class', 'col-sm-6 col-md-2').append(
                $('<label>').attr({class: 'control-label', style: 'margin-bottom: 3px'}).text(_partPaymentTranslations.part_payment_method),
                $('<select>').attr({
                    class: 'form-control rco-part-payment-method',
                    name: 'resurs_checkout_accounts[' + accountIndex + '][part_payment][method]'
                }).append(methodOptions)
            );
            var controlDuration = $('<div>').attr('class', 'col-sm-6 col-md-2').append(
                $('<label>').attr({class: 'control-label', style: 'margin-bottom: 3px'}).text(_partPaymentTranslations.part_payment_duration),
                $('<select>').attr({
                    class: 'form-control rco-part-payment-duration',
                    name: 'resurs_checkout_accounts[' + accountIndex + '][part_payment][duration]'
                }).append(durationOptions)
            );
            var controlMinLimit = $('<div>').attr('class', 'col-sm-6 col-md-2').append(
                $('<label>').attr({class: 'control-label', style: 'margin-bottom: 3px'}).text(_partPaymentTranslations.part_payment_min_limit),
                $('<input>').attr({
                    class: 'form-control rco-part-payment-min-limit',
                    name: 'resurs_checkout_accounts[' + accountIndex + '][part_payment][min_limit]',
                    type: 'number',
                    min: 0
                }).val(_partPaymentStoredData[accountIndex].min_limit)
            );
            var controlMaxLimit = $('<div>').attr('class', 'col-sm-6 col-md-2').append(
                $('<label>').attr({class: 'control-label', style: 'margin-bottom: 3px'}).text(_partPaymentTranslations.part_payment_max_limit),
                $('<input>').attr({
                    class: 'form-control rco-part-payment-max-limit', 
                    name: 'resurs_checkout_accounts[' + accountIndex + '][part_payment][max_limit]',
                    type: 'number',
                    readonly: 'readonly'
                }).val(maxLimit)
            );
            var controlFactor = $('<input>').attr({
                class: 'rco-part-payment-factor',
                name: 'resurs_checkout_accounts[' + accountIndex + '][part_payment][factor]',
                type: 'hidden'
            })
            controlsContainer.append(
                controlActive, controlMethod, controlDuration, controlMinLimit, controlMaxLimit, controlFactor
            )
                
            var html = $('<div>').attr('style', 'margin: 0 15px 30px 15px').append(controlsContainer);

            partPaymentContainer.append(html);
        }

        /**
         * When you change the payment method inside of the part payment settings.
         * We are then updating the durations within the same part payment settings.
         * We are also updating the max_limit.
         */
        var partPaymentMethodChanged = function() {
            var accountInfoContainer = $(this).closest('.accounts-info-container');
            var accountIndex = parseInt(accountInfoContainer.attr('data-index'));
            var newMethodId = $(this).val();
            var newMaxLimit = null;

            // Get the new annuityFactors from the internal module cache
            var annuityFactors = [];
            $.each(_partPaymentData[accountIndex], function(index, method) {
                if (method.id == newMethodId) {
                    annuityFactors = method.annuityFactors;
                    newMaxLimit = parseFloat(method.maxLimit);
                }
            });
            
            // Insert the new durations.
            var durationControl = accountInfoContainer.find('.rco-part-payment-duration').first();
            var durations = [];
            $.each(annuityFactors, function(i, factor) {
                durations.push(new Option(factor.paymentPlanName, factor.duration, i === 0, i === 0));
            });
            durationControl.empty().append(durations);

            // Update the max limit
            var maxLimitControl = accountInfoContainer.find('.rco-part-payment-max-limit').first();
            maxLimitControl.val(newMaxLimit.toFixed(2));

            _updatePartPaymentFactor(accountIndex);
        }

        /**
         * Find and update the factor for part payment settings container.
         */
        var _updatePartPaymentFactor = function(accountIndex) {
            var accountInfoContainer = $('.accounts-info-container[data-index=' + accountIndex + ']').first();

            if (accountInfoContainer) {
                var selectedPaymentMethod = accountInfoContainer.find('.rco-part-payment-method').val();
                var selectedPaymentDuration = accountInfoContainer.find('.rco-part-payment-duration').val();

                // Now find the factor from the internal module cache
                var newFactor = null;
                $.each(_partPaymentData[accountIndex], function(index, method) {
                    if (method.id == selectedPaymentMethod) {

                        $.each(method.annuityFactors, function(i, factor) {
                            if (factor.duration == selectedPaymentDuration) {
                                newFactor = parseFloat(factor.factor).toFixed(6);
                            }
                        });
                    }
                });

                accountInfoContainer.find('.rco-part-payment-factor').first().val(newFactor);
            }
        }

        // Internal events
        $(document).on('change', '.rco-part-payment-duration', function() {
            var accountIndex = parseInt($(this).closest('.accounts-info-container').attr('data-index'));
            _updatePartPaymentFactor(accountIndex);
        });


        return {
            addAccount: addAccount,
            removeAccountByIndex: removeAccountByIndex,
            updateCallbacks: updateCallbacks,
            listCallbacks: listCallbacks,
            showPartPayment: showPartPayment, 
            partPaymentMethodChanged: partPaymentMethodChanged
        }

    })();

    $(document).ready(function() {

        // Add an account line
        $('#rcoAddAccount').on('click', resursCheckout.addAccount);
        // Remove an account line
        $(document).on('click', '.rco-account-line-delete', function() {
            resursCheckout.removeAccountByIndex(parseInt($(this).attr('data-index')));
        });
        
        // Action buttons on callbacks tab
        $('.update-callbacks').on('click', resursCheckout.updateCallbacks);
        $('.list-callbacks').on('click', function() {
            var accountIndex = parseInt($(this).closest('.accounts-info-container').attr('data-index'));
            resursCheckout.listCallbacks(accountIndex);
        });

        // Load in part payment settings.
        $('.accounts-info-container a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if ($(e.target).attr('href').indexOf('part-payment') != -1) {
                var accountIndex = $(e.target).closest('.accounts-info-container').attr('data-index');
                resursCheckout.showPartPayment(accountIndex);
            }
        });

        $(document).on('change', '.rco-part-payment-method', resursCheckout.partPaymentMethodChanged);

    });

</script>

{{ footer }}